<ion-header class="header">
  <img class="adjust" routerLink="/filter" src="./assets/adjust.svg" />
  <img class="logo" src="./assets/logo.svg" />
  <img class="profile" routerLink="/match" src="./assets/profile.svg" />
</ion-header>
&nbsp;&nbsp;
<ion-content>
  &nbsp;
  <ion-card >
    <img src="./assets/withyou.png" />
    <ion-card-header>
      <ion-card-subtitle>Event Type: Class</ion-card-subtitle>
      <ion-card-title >Business Agility and Innovation IC Agile Certified
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      This is an ICAgile accredited course, with end to end virtual learning supported by 4 virtual classrooms.
      &nbsp;&nbsp;
      <ion-button expand="block" routerLink="/filter">More details</ion-button>
    </ion-card-content>
    
  </ion-card>
  <ion-card>
    <img src="./assets/fire.jpeg" />
    <ion-card-header>
      <ion-card-subtitle>Event Type: Networking</ion-card-subtitle>
      <ion-card-title>IoT North - Fast Tracking Enterprise Business Outcomes
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      In this session Steen will talk about how we overcome the hype of IoT and Edge AI    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="./assets/withyou.png" />
    <ion-card-header>
      <ion-card-subtitle>Event Type: Class</ion-card-subtitle>
      <ion-card-title>Business Agility and Innovation IC Agile Certified
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      This is an ICAgile accredited course, with end to end virtual learning supported by 4 virtual classrooms (10 total hours of classroom).
    </ion-card-content>
  </ion-card>
</ion-content>

