<ion-header>

</ion-header>

<ion-content>
  <img class="arrow" routerLink="/splash2" routerDirection="back" src="assets/arrow-left.svg">
  <ion-header class="create">Create new account</ion-header>

  <div class="field1">
    <ion-pharagraph class="ph">Full name</ion-pharagraph>
    <ion-input placeholder="Enter your name"></ion-input>
    <img class="line1" src="assets/line.svg">
  </div>

  <div class="field2">
    <ion-pharagraph class="ph">Email address</ion-pharagraph>
    <ion-input placeholder="name@example.com"></ion-input>
    <img class="line1" src="assets/line.svg">
  </div>

  <div class="field2">
    <ion-pharagraph class="ph">Create password</ion-pharagraph>
    <ion-input placeholder="Enter your password" type="password"></ion-input>
    <img class="line1" src="assets/line.svg">
  </div>

  <div class="field2">
    <ion-pharagraph class="ph">Repeat password</ion-pharagraph>
    <ion-input placeholder="Repeat new password" type="password"></ion-input>
    <img class="line1" src="assets/line.svg">
  </div>

  <img class="signup" routerLink="/events" src="assets/signup.svg">

</ion-content>
